html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}
body {
    background-color: white;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main {
    color: white;
    width: 100%;
    max-width: 640px;
    background-color: #2d2241;
    padding: 32px;
    border-radius: 16px;
    font-weight: bold;
}
.header__title {
    text-align: center;
    color:#f9c802;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    
}
.header__caption {
    text-align: center;
   
}
.form {
   font-family: 'Source Code Pro', monospace;
    
}
.footer{
    padding-top: 16px;
    text-align: center;
    color:#f9c802;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}
.text-area {
    resize: none;
}
.form__submit{
    background: #00bf6f;
    color: white;
    display: block;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 0 6px 0;
    border-radius: 0.25rem;
    font-family: 'Permanent Marker', cursive;
}
.form__input{
    border-radius: 0.25rem;
}

@media (min-width: 1440px) {
    .main{
        max-width: 840px;
        padding: 64px;
    }

}