html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}
body {
    background-color: #00bf6f;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.main {
    width: 100%;
    max-width: 640px;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
}
.header__title {
    text-align: center;
    color: #00bf6f;
    font-weight: bold;
}
.header__caption {
    text-align: center;
   
}
.form {
   
    
}
.footer{
    padding-top: 16px;
    text-align: center;
    color:#00bf6f;
    font-size: 10px;
    font-weight: bold;
}
.text-area {
    resize: none;
}
.form__submit{
    background: #00bf6f;
    color: white;
    display: block;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 0 6px 0;
    border-radius: 0.25rem;
}
.form__input{
    border-radius: 0.25rem;
}